body {
  text-align: center;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(felt-backgroun.jpeg);
  background-size: cover;
}
header {
  font-size: 50px;
  margin-bottom: 50px;
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
}
.card {
  background-color: black;
  width: 80px;
  height: 116px;
  border: solid white 2px;
  /* transform: scaleX(0); */
  transform-origin: left;
  animation: reveal 0.5s ease-in-out forwards;
}
img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: reveal 1s reverse forwards;
}
img {
  max-width: 80px;
  transform-origin: top;
  animation: reveal1 1s ease-in-out forwards;
}
button {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 25px;
  width: 200px;
}

.buttons {
  padding-bottom: 50px;
}

@keyframes reveal1 {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes reveal {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
