body {
  text-align: center;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(felt-backgroun.jpeg);
  background-size: cover;
}
header {
  font-size: 50px;
  margin-bottom: 50px;
}
.board {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
}
.card {
  background-color: black;
  width: 80px;
  height: 116px;
  border: solid white 2px;
}
img {
  max-width: 80px;
}
button {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 25px;
  width: 200px;
}

.buttons {
  padding-bottom: 50px;
}
